if SHIELD_CANTOR_LEFT

config ZMK_KEYBOARD_NAME
    default "Cantor"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CANTOR_LEFT || SHIELD_CANTOR_RIGHT

config ZMK_SPLIT
    default y

endif
